/* My Author Reset */
html, body {
  min-height: 100%; }

#page {
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }
  html.lte-ie8 img {
    width: auto; }

a:active, a:visited, a:focus {
  border: none;
  outline: none; }

@font-face {
  font-family: 'helvetica_neuebold';
  src: font-url('helveticaneuebold-webfont-webfont.eot');
  src: font-url('helveticaneuebold-webfont-webfont.eot?#iefix') format('embedded-opentype'), font-url('helveticaneuebold-webfont-webfont.woff') format('woff'), font-url('helveticaneuebold-webfont-webfont.ttf') format('truetype'), font-url('helveticaneuebold-webfont-webfont.svg#helvetica_neuebold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica_neueregular';
  src: font-url('helveticaneue-webfont-webfont.eot');
  src: font-url('helveticaneue-webfont-webfont.eot?#iefix') format('embedded-opentype'), font-url('helveticaneue-webfont-webfont.woff') format('woff'), font-url('helveticaneue-webfont-webfont.ttf') format('truetype'), font-url('helveticaneue-webfont-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica_neuelight';
  src: font-url('helveticaneue-light-webfont-webfont.eot');
  src: font-url('helveticaneue-light-webfont-webfont.eot?#iefix') format('embedded-opentype'), font-url('helveticaneue-light-webfont-webfont.woff') format('woff'), font-url('helveticaneue-light-webfont-webfont.ttf') format('truetype'), font-url('helveticaneue-light-webfont-webfont.svg#helvetica_neuelight') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  font: normal 14px/1.3 "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.header-main {
  height: 100px;
  color: white;
  background: black;
  line-height: 100px;
  text-align: center;
  font-size: 50px; }

.widget {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px; }
